{{ define "main" }}

<!-- Start section bio -->
{{ with (where .Site.Pages "Section" "bio") }}
{{ range . }}
<div class="mb-5">
	<div class="mb-3">
		<div class="rounded bg-gradient-pride">&nbsp;</div>
	</div>

	<h5 class="text-body-emphasis">{{ .Title }}</h5>
	<h2 class="text-secondary fw-medium fs-6">{{ .Params.job }}</h2>
</div>

<div class="mb-5">
	{{ .Content | safeHTML }}
</div>
{{ end }}
{{ end }}
<!-- End section bio -->

<!-- cek apakah param social ada diconfig -->
{{ if .Site.Params.social }}
<div class="mb-5">
	<h5 class="text-body-emphasis mb-4">On the web</h5>
	{{ range $key, $value := .Site.Params.social }}
	<a href="{{ $value }}" class="link-underline text-dark me-3">{{ $key | title }}</a>
	{{ end }}
</div>
{{ end }}

<!-- Start section posts -->
{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $featuredPosts := where $posts "Params.featured" true }}
{{ if $featuredPosts }}
<hr class="col-3 col-md-2 mb-5">
<h5 class="text-body-emphasis mb-4">Selected Writing</h5>
<ul class="list-unstyled mb-0 mb-5">
	{{ range $featuredPosts }}
	<li class="d-flex align-items-center mb-2">
		<span class="text-muted me-4 w-20">{{ .Date.Format "01/2006" }}</span>
		<a href="{{ .RelPermalink }}" class="link-underline text-dark text-truncate flex-grow-1">
			{{ .LinkTitle }}
		</a>
	</li>
	{{ end }}
</ul>
{{ end }}
<!-- End section posts -->



{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $featuredProjects := where $projects "Params.featured" true }}
{{ if $featuredProjects }}
<!-- Start section projects -->
<hr class="col-3 col-md-2 mb-5">
<h5 class="text-body-emphasis mb-4">Selected Projects</h5>
<div class="row row-cols-2 row-cols-md-3 g-4">
    {{ range $featuredProjects }}
    <div class="col">
        <a href="{{ .Permalink }}" class="text-decoration-none text-dark">
            <div class="card projectArea border-0 shadow-sm h-100">
                <img src="{{ with .Resources.GetMatch .Params.thumbnail }}{{ .RelPermalink }}{{ else }}{{ .Params.thumbnail }}{{ end }}"
                    alt="Image representing {{ .Title }}" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">{{ .Title }}</h6>
                    <p class="card-text text-muted small" style="max-width: 100%;">{{ .Params.excerpt | truncate 80 }}</p>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>
<!-- End section projects -->
{{ end }}



 

{{ end }}