<div class="row align-items-center justify-content-between flex-column flex-sm-row">
    <div class="col-auto"><div class="small m-0">&copy; {{ now.Year }} {{ site.Title }}</div></div>
    <div class="col-auto">
        <a class="small link-secondary link-underline" href="{{ "/privacy/" | relURL }}">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a class="small link-secondary link-underline" href="#!">Terms</a>
        <span class="mx-1">&middot;</span>
        <a class="small link-secondary link-underline" href="#!">Contact</a>
    </div>
</div>
