<a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none mb-3 mb-md-0">
    <span class="fs-5">{{ site.Title }}</span>
</a>

<ul class="nav d-flex flex-wrap justify-content-center justify-content-md-end ms-md-auto">
    <li><a href="/" class="nav-link px-2 link-secondary link-underline">Home</a></li>
    <li><a href="/about" class="nav-link px-2 link-secondary link-underline">About</a></li>
    <li><a href="/posts" class="nav-link px-2 link-secondary link-underline">Articles</a></li>
    <li><a href="/projects" class="nav-link px-2 link-secondary link-underline">Projects</a></li>
</ul>