{{ define "main" }}
<div class="listContentProject">
<h1>{{ .Title }}</h1>

<!-- Deskripsi _index.md -->
<p>{{ .Content }}</p>


<div class="row row-cols-2 row-cols-md-3 g-4 mt-4">
    {{ range .Pages }}
    <div class="col">
        <a href="{{ .Permalink }}" class="text-decoration-none text-dark">
            <div class="card border-0 shadow-sm projectArea h-100">
                <img src="{{ with .Resources.GetMatch .Params.thumbnail }}{{ .RelPermalink }}{{ else }}{{ .Params.thumbnail }}{{ end }}"
                    alt="Image representing {{ .Title }}" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">{{ .Title }}</h6>
                    <p class="card-text text-muted small" style="max-width: 100%;">{{ .Params.excerpt | truncate 80 }}</p>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>
</div>
{{ end }}
